@import '../../style/index';

@include host;

@media screen and (max-width: 800px){
  .container{
    display: block;
  }

  .cta {
    background: #ECEDE9;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
  }
  
  .cta div {
    margin-left: 0;
    padding: 10%;
  }

  .contactUs {
    position: fixed;
    bottom: 0;
    background-color: #303C54;
    width: 100vw;
    height: 15%;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .image{
    width: 100vw;
  }

  .image img {
    max-width:100%;
    max-height:100%;
  }
}

:host{
  margin: 0;
  padding: 0;
}

.headline{
  width: 100vw;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

.headline h4 {
  margin-left: 10vw;
  padding-left: 1%;
  border-left: 3px solid red;
}

@media screen and (min-width:801px) {
  .container{
    display: flex;
    width: 100vw;
    font-family: 'Playfair Display', serif;
  }

  .cta {
    background: #ECEDE9;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .cta div {
    margin-left: 15%;
    padding: 15%;
  }

  .contactUs {
    position: fixed;
    bottom: 0;
    background-color: #303C54;
    width: 100vw;
    height: 25%;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .image{
    width: 50%;
  }

  .image img {
    height: 100%
  }
}

.cta div h4 {
  font-size: 24px;
}

.cta div p {
    font-size: 16px;
    margin: auto;
}

.cta div button {
  margin-top: 5%;
  font-size: 12px;
  background: black;
  padding: 2%;
  color: white;
  border: none
}

.contactUs p {
  font-size: 24px;
  color: white;
  margin: 0;
  padding-left: 10vw;
  padding-top: 1%;
}
 .contactUs button {
   width: 30px;
   height: 30px;
  position: absolute;
  right: 60px;
  top: -12px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
 }

 .contactUs button img {
   width: 20px;
 }

.contactHidden {
  display: none;
}