@import '../../style/index';

@include host;

@media screen and (max-width: 865px) {
  .container {
    display: block;
  }

  .cta {
    background: #ecede9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .cta div {
    margin-left: 0;
    padding: 10%;
  }

  .contactUs {
    position: fixed;
    bottom: 0;
    background-color: #303c54;
    width: 100vw;
    height: 20%;
    font-family: 'Roboto Condensed', sans-serif;

    &::before {
      left: 15%;
      top: -5px;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #303c54;
      border-width: 10px;
      margin-left: -1px;
      border-right-color: #303c54;
      transform: rotate(-45deg);
    }

    .contacts p {
      font-size: 12px;
      line-height: .8;
    }
  }

  .image {
    width: 100vw;
  }

  .image img {
    max-width: 100%;
    max-height: 100%;
  }
}

:host {
  margin: 0;
  padding: 0;
}

.headline {
  width: 100vw;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

.headline h4 {
  margin-left: 10vw;
  padding-left: 1%;
  border-left: 3px solid red;
}

@media screen and (min-width: 866px) {
  .container {
    display: flex;
    width: 100vw;
    font-family: 'Playfair Display', serif;
  }

  .cta {
    background: #ecede9;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta div {
    margin-left: 15%;
    padding: 15%;
  }

  .contactUs {
    position: fixed;
    bottom: 0;
    background-color: #303c54;
    width: 100vw;
    height: 25%;
    font-family: 'Roboto Condensed', sans-serif;

    &::before {
      left: 15%;
      top: -5px;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #303c54;
      border-width: 10px;
      margin-left: -1px;
      border-right-color: #303c54;
      transform: rotate(-45deg);
    }

    .contacts p {
      font-size: 12px;
    }
  }

  .image {
    width: 50%;
  }

  .image img {
    height: 100%;
  }
}

.cta div h4 {
  font-size: 24px;
}

.contactUs p {
  font-size: 24px;
  color: white;
  margin: 0;
  padding-left: 10vw;
  padding-top: 1%;
}

.cta div p {
  font-size: 16px;
  margin: auto;
}

.contactUs button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 60px;
  top: -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.cta div button {
  margin-top: 5%;
  font-size: 12px;
  background: black;
  padding: 2%;
  color: white;
  border: none;
  cursor: pointer;
}

.contactUs button img {
  width: 20px;
}

.contactHidden {
  display: none;
}

@media screen and (min-width: 850px) {
  .contactUs .contacts {
    line-height: .5;
  }
}

@media screen and (min-width: 1440px) {
  .contactUs .contacts {
    line-height: .2;
  }
}
